body, html {
	text-align: center;
	height: 100%;
	width: 100%;
}

#content {
	-webkit-overflow-scrolling: touch !important;
	-webkit-transform: translate3d(0px,0px,0px);
}

/**
 * 	Index CSS
 */
#home .row {
	width: 90%;
}

.panel {
	border-radius: 10%;
	border: 5px double #865F42;
	background-color: #EBD0BC;
}

.columns {
	padding: 0;
}

.languages {
	height: 15% !important;
	width: 90%;
}

.language {	
	height: 70% !important;
	padding-top: 2%;
	padding-bottom: 2%;
}

.chosen {
	border: 3px solid white;
}

.options {
	width: 90%;
}

.practice {
	width: 90%;
}

/**
 * 	Word CSS
 */

#word .chosen-language {
	padding-right: 3%;
}

/**
 * 	Search CSS
 */

.result {
	text-align: left;
	margin-top: 5%;
	overflow: auto !important;
}

.theWord {
	border-top: 1px solid black;
	border-bottom: 1px dotted black;
}

.theWord img {
	width: 25px;
}

.theWord .button {
	margin: 0;
	padding: 3%;
}

.translations {
	border-bottom: 1px solid black;
}

.result div {
	padding: 1%;
}

.translations {
	font-size: 80%;
}

.translations img {
	width: 15px;
}
